@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
  width: 100%;
}


* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.img-banner {
  width: 100%;
  height: 500px;
}

.img-info {
  padding-top: 5%;
  padding-right: 5%;
  width: 55%;
  float: right;
}

.img-info h2 {
  width: 100%;
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 120px;
  color: #111;
  line-height: 100px;
}

.img-info p {
  width: 100%;
  padding-top: 30px;
  font-size: 50px;
  line-height: 70px;
}

.img-cream {
  padding: 5% 5% 5% 5%;
  width: 30%;
  height: 1000px;
  float: left;
}


.slider {
  width: 80%;
  height: 1000px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  height: 1000px;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation {
  width: 40%;
  margin-top: -40px;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 3px solid #2016de;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #2016de;
}

#radio1:checked ~ .first {
  margin-left: 0;
} 

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
} 

#accordion {
  margin: 100px auto;
  width: 100%;
  height: 300px;
}

#accordion li {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
}

#accordion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

#accordion li label span {
  transform: rotate(90deg);
  font-size: 70px;
  font-weight: bold;
  line-height: 50px;
}

#accordion label + input[type='radio'] {
  display: none;
}

#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label + input[type='radio']:checked + .content{
  max-height: 400px;
}

.shop-items {
  width: 100%;
  height: 45%;
  padding: 0 0 5% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  float: left;
}

.shop-item {
  width: 20%;
  margin: 30px;
  padding-right: 5%;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  display: block;
  height: 300px;
  justify-self: center;
}

.shop-item-details {
  width: auto;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 10px 20px 0 0;
}

.shop-item-price {
  height: 100%;
  flex-grow: 1;
  color: #333;
  font-size: 50px;
  font-weight: bold;
}

.shop-item-button {
  height: 100%;
  font-size: 2em;
}


.content-section {
  width: 30%;
  margin: 1em;
}

.container {
  width: 30%;
  height: 20%;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-weight: bold;
  color: #333;
  text-align: center;
  font-size: 3.5em;
  padding-top: 2em;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
  font-size: 2.5em;
}

.cart-price {
  width: 20%;
  font-size: 2.5em;
  color: #333;
}

.cart-quantity {
  width: 35%;
  font-size: 2.5em;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}


.btn-danger {
  width: 100%;
  height: 50%;
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
  font-size: 1em;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding-right: 5%;
  text-align: center;
  font-size: 2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  height: 100%;
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 3.8em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 3.8em;
  font-weight: bold;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 3em;
  padding: 2%;
}

.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2D9CDB;
}


@media (min-width: 768px) and (max-width: 1024px)  {
  body {
    touch-action: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

  .wrapper{
    width: 100%;
    margin: 0;
  }
  .img-banner {
    display: block;
    width: 110%;
    height: 200px;
    padding-bottom: 30px;
  }

  .img-info {
    padding: 0 10% 0 3%;
    width: 90%;
    height: auto;
    float: none;
  }
  
  .img-info h2 {
    font-size: 4em;
  }

  .img-info p {
    font-size: 1.8em;
  }

  #accordion {
    margin: 5% auto;
    margin-bottom: 50%;
  }
  
  #accordion li label {
    font-size: 24px;
  }
  
  #accordion li label span {
    font-size: 50px;
    line-height: 20px;
  }

  #accordion .content {
    line-height: 8px;
  }
  
  
  .img-cream {
    margin-top: 20%;
    padding: 5%;
    width: 100%;
    height: auto;
    float: none;
  }

  .slider {
    width: 60%;
    height: 500px;
    margin-left: 15%;
  }

  .slide {
    height: 500px;
  }  
  
  .shop-items {
    width: 100%;
  }
  
  .shop-item {
    width: 100%;
  }    
  
  .shop-item-button {
    font-size: 1.6em;
    padding: 2%;
  }
  
  
  .content-section {
    width: 100%;
    margin: 0;
  }
  
  .container {
    width: 100%;
    padding-right: 10%;
  }
  
  .cart-item {
    width: 45%;
    font-size: 2.5em;
  }
  
  .cart-price {
    width: 20%;
    font-size: 2.5em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
    font-size: 2.5em;
  }
  
  .cart-item-title {
    font-size: 1em;
  }
  
  .cart-item-image {
    width: 50%;
  }
  
  
  .btn-danger {
    width: 100%;
    height: 50%;
    font-size: 0.7em;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 50%;
    width: 70%;
    font-size: 1em;
  }
} 

@media only screen and (max-width: 767px) {
.wrapper{
  width: 100%;
  margin: 0;
}
.img-banner {
  display: none;
}

.img-info {
  padding: 0 10% 30% 3%;
  width: 100%;
  height: 50%;
  float: none;
}

.img-info h2 {
  font-size: 3em;
  line-height: normal;
}

.img-info p {
  font-size: 1.2em;
  line-height: normal;
}

#accordion {
  width: 100%;
  margin: 5% auto;
  margin-bottom: 60%;
}

#accordion li label {
  font-size: 24px;
}

#accordion li label span {
  font-size: 50px;
  line-height: 20px;
}

#accordion .content {
  font-size: 1.2em;
  line-height: normal;
  display: block;
}


.img-cream {
  margin-top: 20%;
  padding: 3%;
  width: 100%;
  height: auto;
  float: none;
}

.slider {
  width: 90%;
  height: auto;
  margin-left: 15%;
}

.slide {
  height: 100%;
}  

.shop-items {
  width: 100%;
}

.shop-item {
  width: 100%;
}    

.shop-item-button {
  font-size: 1em;
  padding: 2%;
}


.content-section {
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 10%;
}

.cart-item {
  width: 20%;
  font-size: 1em;
}

.cart-price {
  width: 20%;
  font-size: 1em;
  color: #333;
}

.cart-quantity {
  width: 35%;
  font-size: 1em;
}

.cart-item-title {
  font-size: 0.5em;
}

.cart-item-image {
  width: 50%;
}


.btn-danger {
  width: 100%;
  height: 50%;
  font-size: 0.7em;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 50%;
  width: 70%;
  font-size: 1em;
}
} 

